.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

#create-weight {
    width: 50%;
    margin: .3em 25% 0 25%;
}

#weight-listview .item-title {
    float: left;
    font-size: 1em;
    line-height: 1.4em;
    margin: .3em 1em 0 .6em;
    width: 50%;
}
#weight-listview .item-info {
    float: left;
    font-size: .7em;
    line-height: 1em;
    margin: 0 0 0 .95em;
    width: 45%;
}

#weight-listview .details-link {
    margin-top: -1em;
    position: absolute;
    right: 0.6em;
    top: 50%;
}

#login-form .username,
#login-form .password {
    position: relative;
}

#login-form .username:before,
#login-form .password:before {
    position: absolute;
    top: 50%;
    right: .75em;
    display: block;
    margin-top: -.5em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
}

#welcome .group-wrp {
    margin: -1em 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#welcome .group-wrp li {
  margin: 1.5em 0 0;
}

#welcome .group-wrp .btn {
    display: block;
}

#welcome .group-wrp .oauth {
    margin-right: -1%;
    margin-left: -1%;
}

#welcome .group-wrp .oauth .oauth-item {
    float: left;
    margin: 0 1%;
    width: 23%;
}

#welcome .group-wrp .oauth .btn {
    overflow: hidden;
    height: 45px;
    text-indent: -999px;
}

#welcome .group-wrp .oauth .btn span,
#welcome .group-wrp .btn-signup span {
    font-weight: 500;
    font-size: 1rem;
}

#welcome .group-wrp .btn-signup {
    border: 0 none;
    background-color: transparent;
}
