.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

.km-back-button:before, .km-back-button:after { content: "\e013"; }

#custom-drawer {
    border: 0 none;
    background-color: transparent;
}

#custom-back {
    border: 0 none;
    background-color: transparent;
}

#create-weight {
    width: 50%;
    margin: .3em 25% 0 25%;
}

#register .btn-signup {
    width: 50%;
    margin: .3em 25% 0 25%;
    background-color: #00ff3f;
}

#register .confirm {
    text-align:center;
}

#register-form .text-in label{
    width:35%;
}

#register-form .text-in input{
    width:65%;
}

#register-form .text-in select{
    width:65%;
}

#register-form .email label{
    width:30%;
}

#register-form .email input{
    width:70%;
    position:relative;
}

#register-form .domain label{
    padding: 0 0 0 12.5%;
    width:25%;
}

#register-form .domain select{
    width:62.5%;
    position:relative;
}

#weight-listview .item-title {
    float: left;
    font-size: 1em;
    line-height: 1.4em;
    margin: .3em 1em 0 .6em;
    width: 50%;
}
#weight-listview .item-info {
    float: left;
    font-size: .7em;
    line-height: 1em;
    margin: 0 0 0 .95em;
    width: 45%;
}

#weight-listview .details-link {
    margin-top: -1em;
    position: absolute;
    right: 0.6em;
    top: 50%;
}

#welcome .group-wrp {
    margin: -1em 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#welcome .group-wrp li {
  margin: 1.5em 0 0;
}

#welcome .group-wrp .btn {
    display: block;
}

#welcome .group-wrp .oauth {
    margin-right: -1%;
    margin-left: -1%;
}

#welcome .group-wrp .oauth .oauth-item {
    float: left;
    margin: 0 1%;
    width: 23%;
}

#welcome .group-wrp .oauth .btn {
    overflow: hidden;
    height: 45px;
    text-indent: -999px;
}

#welcome .group-wrp .oauth .btn span,
#welcome .group-wrp .btn-signup span {
    font-weight: 500;
    font-size: 1rem;
}

#welcome .group-wrp .btn-signup {
    border: 0 none;
    background-color: transparent;
}

#home .btn {
    width: 100%;
    border: 0 none;
    background-color: transparent;
}

#home .weight {
    background-image: url(images/weight_stock.jpg);
}

#home .head {
    display: block;
	margin: 0;
	height: 13em;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

#home .cardio {
    background-image: url(images/cardio_stock.jpg);
}
