<div data-role="view" data-title="Login" data-use-native-scrolling="true" data-layout="main"
     data-init="app.Login.init" data-show="app.Login.show" data-model="app.Login" id="welcome" data-id="welcome">
        <form action="./welcome.html">
        	<ul data-role="listview" data-style="inset">
                <li>
                    <label>Username
                        <input type="text" id="loginUsername" placeholder="Username" />
                    </label>
                </li>
                <li>
                    <label>Password
                        <input type="password" id="loginPassword" placeholder="Password" />
                    </label>
                </li>
        	</ul>
      	</form>
        <ol class="group-wrp">
    	    <li>
                <a data-role="button" class="btn btn-login" data-click="app.Login.login">Login</a>
            </li>
            <li class="signup">
                <a data-role="button" href="views/subs/registerView.html" class="btn-signup" data-transition="slide">Don't have an account? Register now!</a>
            </li>
        </ol>
    </div>
