<div data-role="view" data-use-native-scrolling="true" data-layout="main"
     data-init="app.WeightSearchResults.init" data-show="app.WeightSearchResults.show" data-model="app.WeightSearchResults">
	<div data-role="header">
        <div data-role="navbar">
        <span data-role="view-title">Weightlifting</span>
        <a data-role="backbutton" data-align="left" data-transition="slide:right">Back</a>
    	</div>
	</div>
    <ul id="weight-listview" data-role="listview" data-source="app.WeightSearchResults.listds" data-template="weight-tmp" data-style="inset">
    </ul>
    <div id="create-weight">
    	<a data-role="button" data-transition="slide" href="views/createWeightRoomView.html">Create a new room</a>
    </div>
    <script type="text/x-kendo-template" id="weight-tmp">
    	<h3 class="item-title">${PrimaryBodyPart}</h3>
    	<p class="item-info">${WorkoutDate}</p>
        <a data-role="button" class="details-link" data-bind="events { click: enterRoom }" href="views/WorkoutRoomView.html">Enter</a>
  	</script>
</div>