<div data-role="view" data-title="Weightlifting" data-use-native-scrolling="true" data-layout="subpage"
     data-init="app.WeightSearch.init" data-show="app.WeightSearch.show" data-model="app.WeightSearch">
    <h1>
        Show closest weight rooms here
    </h1>
    <!--
	<form action="./weightSearchView.html">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Date
                    <input type="date" id="weightDate" />
                </label>
            </li>
            <li>
                <label>Available From
                    <input type="time" id="weightTimeFrom" />
                </label>
            </li>
            <li>
                <label>Available To
                    <input type="time" id="weightTimeTo" />
                </label>
            </li>
            <li>
                <label>Duration (minutes)
                    <input type="number" id="weightDuration"  />
                </label>
            </li>
            <li>
                <label>Primary Body Part
                    <select id="weightPrimary">
                        <option value="Chest">Chest</option>
                        <option value="Back">Back</option>
                        <option value="Legs">Legs</option>
                    </select>
                </label>
            </li>
        </ul>
    </form> -->
</div>